.productcontainer{
    display: flex;
    flex-wrap: wrap;
}

.productcontainer > .link{
 max-width: 300px;
 box-shadow: 0 0 10px #463636;
 text-align: center;
 margin: 10px;
}

.productcontainer > .link:hover{
  background-color: #bab5b5;
   }